*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?cs=srgb&dl=pexels-joyston-judah-933054.jpg&fm=jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.text{
    font-weight: bold;
    padding: 10px;
    font-size: 50px;
}
.currentDate{
    font-size: 30px;
    font-family: sans-serif;
}
.date{
    display: flex;
}
.time{
    display: flex;
}